.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button-line {
    width: 25px;
    height: 1px;
    background-color: white;
}

@media (min-width: 769px) {
    
    .toggle-hamburger-button {
        display: none;
    }
}