$bgColor: #2B2B31;
$brandOrange :  #FAB162;


.header-bar {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $bgColor;
    height: 80px;
}

.header-logo {
    margin-left: 20px;
}

.header-logo a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    color: #fbfbfb;

    span {
        color:#FAB162;
    }
}


@media (min-width: 769px) {
    .header-logo {
        margin-left: 0;
    }
}