@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
$bgColor: #2B2B31;
$brandOrange :  #FAB162;
//Sky Blue: #8cbcd0
//black-grey: #323636
//emerald blue" #18c3fb

.header-bar {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    //background-color: #1a1a1a;
    //background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    background: linear-gradient(to bottom, #080711, #0c0b14, #07070c);
    height: 80px;
    z-index: 2;
}

.header-logo {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100px;
    height: auto;
    font-size: 25px;
}



@media (min-width: 769px) {
    .header-logo {
        margin-left: 0;
        position: relative;
    }

}