@import '../utilities/variables';
/* $bgColor
$brandColor
$contrastColor
 */
.navbar {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;
}

.navbar-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    
    li {
        padding: 10px;

    }

    a{
  
        color: white;
        text-decoration: none;
    }
}



.navbar-items li:hover,
.navbar-items li:active {

        color: #4A4860;

        box-shadow: 0px 4px 0px 0px rgb(142, 152, 187);
    
} 



.side-toggle {
    height: 100%;
    background-color: white;
    box-shadow: 1px 0 7px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;

    ul {
        background-color: #000000;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;
        
    }

    li {
        margin: 48px 0;
        cursor: pointer;
        text-align: center;
  
    }

    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 20px;
    }

    a:hover,
    a:active {
        color: $brandColor;
    }
}

.side-toggle.open {
    transform: translateX(0);
}

@media (max-width: 768px) {
    .navbar-items {
        display: none;
    }
}

@media (min-width: 768px) {
    .side-toggle {
        display: none;
    }

    .navbar  {
        justify-content: space-between;

        .navbar-items{

            
            li {
                font-size: 18px;
                margin: 0 20px;
                
            }
        }
        
    }
}