$breakpoint-tablet: 768px;
$orange: #DF4500;
$gray: #35302D;
$gray-shine: #3C3735;
$white-off: #DFDBD9;

//minty green: #4cb69f

.movies-filter{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 20px 5px;
    position: relative;
    margin-left: -43px;
    background: linear-gradient(to top, #0f0c29, #302b63, #24243e);
    
}

.movies-filter ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90px 90px;
    text-align: center;

  
    li {
        padding-bottom: 40px;
        list-style: none;
        display: block;

        &:hover {
            color: #fff;
            border-color: #37474f;
        }
    } 
    

    .filter-link:hover {
        background-color:  #4c8cb691;
        border-color: #fff;     
    }

    .filter-link:hover:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);    
    } 

    
    i {
        margin-top: 30px;
        padding-top: 20px;
        margin-left: -10px;
        margin-right: 10px;
    }

    a{
        text-decoration: none;
        color: white;
        letter-spacing: 1px;
    }

    

    
}

    


@media (min-width: $breakpoint-tablet) {
    
    .movies-filter {
        display: block;
        width: 200px;
        height: 100vh;
        margin-top: 60px;
        
    }
  
    .movies-filter ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
        text-align: left;


        li {
            
            border: none;
            padding: 0;
            margin: 0;
            margin-top: 40px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 25px;
            width: 100%;
        }
        
    }
}

@media (min-width: 768px){

    .movies-filter ul {
        .filter-link:hover {
            color: #fff;
            background: #0f0c295d;
        } 

        i {
            padding: 0;
            margin: 0;
            margin-left: -10px;
            margin-right: 10px;
        }

    }
}


