.rating-circle {
	font-size: 14px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	line-height: 24px;
	color: #ffffff;
	text-shadow: 0px 1px 3px #000060b9 ;
    position: absolute;
    background: #ffc078;
    border-radius: 30px;
	box-shadow: 0px 1px 3px #000060b9 ;
	z-index: 1;
	top: 0;
	padding: 6px;
	width: 36px;
	text-align: center;
       


    span {
		display: inline-block;
		padding: 16px 20px;
		border-radius: 10px;
		position: relative;
		z-index: 2;
		will-change: transform, filter;
		transform-style: preserve-3d;
        transition: all 0.3s ease-out;
    }    

}

//////////////// view more btn

/* .viewmore-btn {
	//font-size: 11px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	line-height: 24px;
	color: #5f5f5f;
    position: absolute;
    background: #fdff8f;
    border-radius: 30px;
	box-shadow: 0px 1px 2px #000060b9 ;
	z-index: 1;
	top: 0;
	padding: 6px;
	width: 36px;
	text-align: center;
    
    &:before {
		content: '';
		display: inline-block;
		height: 40px;
		position: absolute;
		bottom: -1px;
		left: 10px;
		right: 10px;
		z-index: -1;
		border-radius: 2em;
		filter: blur(14px) brightness(0.9);
		transform-style: preserve-3d;
        transition: all 0.3s ease-out;
        
    }
    
	a {
        text-decoration: none;
        color: #ffffff;

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
      }
    }
    
    &{
        text-shadow: 0px 0px 1px #BF4C28;
    }

    &:before {
		content: '';
		display: inline-block;
		height: 40px;
		position: absolute;
		bottom: -1px;
		left: 10px;
		right: 10px;
		z-index: -1;
		border-radius: 2em;
		filter: blur(14px) brightness(0.9);
		transform-style: preserve-3d;
		transition: all 0.3s ease-out;
    }
    span {
		display: inline-block;
		padding: 16px 20px;
		border-radius: 10px;
		position: relative;
		z-index: 2;
		will-change: transform, filter;
		transform-style: preserve-3d;
        transition: all 0.3s ease-out;
    }
    
    &:focus{
		color: #ffffff;
    }
    
	&:hover {
        color: #ffffff;
        transition: all 0.3s ease-out;
        box-shadow: none;
        background: rgb(219, 90, 4);
		span {
            
			filter: brightness(.9) contrast(1.2);
            transform: scale(0.96);
		}
		&:before {
			bottom: 3px;
			filter: blur(1px) brightness(10.8);
        }
        
        
	}
} */

.fav-wrapper {
	margin-top: 50px;
	text-align: left;
}

.fav-button {
	
    font-size: 3vmin;
    appearance: none;
    background: linear-gradient(to bottom, #F46001, #E14802);
    border: none;
    color: #FFF;
    border-radius: 2em;
    padding: .6em 1.5em;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 0 1em rgba(white, .2);
    transition: transform .1s cubic-bezier(.5, 0, .5, 1),
    box-shadow .2s;
    
    &:hover {
      box-shadow: 0 0 2em rgba(white, .3);
    }
  
    outline: none;
  
    &:active {
      transform: scale(0.8) translateY(10%);
      transition-timing-function: cubic-bezier(.5, 0, .5, 1);
    }
  }
  
  .treat {
    --scale-x: 0;
    --scale-y: 0;
    pointer-events: none;
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - .5rem);
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    transform: 
      translate(
        calc( var(--x) * 1px ), 
        calc( var(--y) * 1px )
      ) 
      translate(-50%, -50%);
    pointer-events: none;
    animation: 
      treat-enter .1s ease-in backwards, 
      treat-exit 300ms linear 
      calc( (var(--lifetime, 3000) * 1ms) - 300ms) 
      forwards;
  
    @keyframes treat-enter {
      from {
        opacity: 0;
      }
    }
    @keyframes treat-exit {
      to {
        opacity: 0;
      }
    }
    
    .inner {
      animation: inner-rotate .6s linear infinite;
      transform: rotate( 
        calc(-1turn * var(--direction) )
      ); 
      @keyframes inner-rotate {
        to { 
          transform: none;
        } 
      }
    }
  }


  //--- Remove Button 

.remove-wrapper {
	text-align: center;
	margin-top: 30px;
}

.remove-btn {
    margin-bottom: 60px;
    font-size: 4vmin;
    appearance: none;
    background: linear-gradient(to bottom, rgb(1, 244, 232), #4cb69f);
    border: none;
    color: #FFF;
    border-radius: 2em;
    padding: .6em 1.5em;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 0 0.2em rgba(white, .2);
    transition: transform .1s cubic-bezier(.5, 0, .5, 1),
    box-shadow .2s;
    
    &:hover {
      box-shadow: 0 0 0.5em rgba(white, .3);
    }
  
    outline: none;
  
    &:active {
      transform: scale(0.8) translateY(10%);
      transition-timing-function: cubic-bezier(.5, 0, .5, 1);
    }
  }
  
  .treat {
    --scale-x: 0;
    --scale-y: 0;
    pointer-events: none;
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - .5rem);
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    transform: 
      translate(
        calc( var(--x) * 1px ), 
        calc( var(--y) * 1px )
      ) 
      translate(-50%, -50%);
    pointer-events: none;
    animation: 
      treat-enter .1s ease-in backwards, 
      treat-exit 300ms linear 
      calc( (var(--lifetime, 3000) * 1ms) - 300ms) 
      forwards;
  
    @keyframes treat-enter {
      from {
        opacity: 0;
      }
    }
    @keyframes treat-exit {
      to {
        opacity: 0;
      }
    }
    
    .inner {
      animation: inner-rotate .6s linear infinite;
      transform: rotate( 
        calc(-1turn * var(--direction) )
      ); 
      @keyframes inner-rotate {
        to { 
          transform: none;
        } 
      }
    }
  }

.remove-all-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 35px;
  margin-bottom: 50px;
  }
  
  .remove-all-btn {
    margin-bottom: 20px;
    font-size: 4vmin;
    appearance: none;
    background: linear-gradient(to bottom, rgb(255, 62, 245), #b64cad);
    border: none;
    color: #FFF;
    border-radius: 2em;
    //padding: .6em 1.5em;
    padding: 10px 15px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 0 0.2em rgba(white, .2);
    transition: transform .1s cubic-bezier(.5, 0, .5, 1),
    box-shadow .2s;
    
    &:hover {
      box-shadow: 0 0 0.5em rgba(white, .3);
    }
  
    outline: none;
  
    &:active {
      transform: scale(0.8) translateY(10%);
      transition-timing-function: cubic-bezier(.5, 0, .5, 1);
    }
  }
  
  .treat {
    --scale-x: 0;
    --scale-y: 0;
    pointer-events: none;
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - .5rem);
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    transform: 
      translate(
        calc( var(--x) * 1px ), 
        calc( var(--y) * 1px )
      ) 
      translate(-50%, -50%);
    pointer-events: none;
    animation: 
      treat-enter .1s ease-in backwards, 
      treat-exit 300ms linear 
      calc( (var(--lifetime, 3000) * 1ms) - 300ms) 
      forwards;
  
    @keyframes treat-enter {
      from {
        opacity: 0;
      }
    }
    @keyframes treat-exit {
      to {
        opacity: 0;
      }
    }
    
    .inner {
      animation: inner-rotate .6s linear infinite;
      transform: rotate( 
        calc(-1turn * var(--direction) )
      ); 
      @keyframes inner-rotate {
        to { 
          transform: none;
        } 
      }
    }
  }


  @media (min-width: 550px) {

    .fav-button {
		  font-size: 2.4vmin;
    }
    
    .remove-btn {
      margin-bottom: 60px;
      font-size: 2vmin;
    }

    .remove-all-btn {
      font-size: 2vmin;
    }
  }

  
  @media (min-width: 1068px) {

	  .fav-button {
		  font-size: 2vmin;
	  }

  }