//medium 341.99 x 513
//poster small 185 x 278

.section-01 {
    margin: 4% 4%;

    h1{
        margin-left: 40px;
        margin-top: 20px;
        padding-bottom: 50px;
        color: white;
    }
}

.movies-container {
    position: relative;
    margin: 10px 10px;
    text-align: center;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
 
  
    .movies {
        width: 200px;
        text-align: left;
        //position: relative; puts the rating circle inside poster
        margin: 0 auto;
        padding-bottom: 50px;
        margin-bottom: 60px;

        a, a:visited {
            color: rgb(90, 105, 145);
        }
        
    }

    .box h2 {
        margin-top: 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .movie-poster {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

 

    .movie-overview {
        display: block;
        color: #d2d3d3;
        margin: 0;
        line-height: 1.5;
        height: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .movie-released {
        color: #45433E;
        font-weight: 400;
        font-style: italic;
        margin-top: 5px;
        margin-bottom: 30px;
    }

    h2 {
        color: white;
        font-size: 18px;
     
    }
    
}

@media (min-width: 540px) {

    .movies-container {
        margin: 0;
        padding: 0;
        display: inline-flex;
        margin: 25px;
    }  
} 

@media(min-width: 610px) {
    .section-01 {
        max-width: 500px;
        margin: 0 auto;
    }
}

@media ( min-width: 768px ) {
    .section-01 {
        position: absolute;    
        margin: 0 auto;
        top: 0;
        margin-top: 90px; 
        max-width: 1450px;
        margin-left: 200px;
        padding-top: 11px;
    }

    .movies-container {
        margin: 0 auto;
        padding-top: 11px;
        margin-left: 20px;
    }

    .movies {
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        padding-left: 25px; 

        a, a:visited {
            color: rgb(90, 105, 145);
        }
    }

    .movie-overview {
        height: 560px;
    }

}