.poster-backdrop {
    display: none;
}



.individual-movie-container {
    //padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: CENTER;

    h1, h3, p {
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }
    h3 {
        color: white;
        margin-bottom: 10px;
    }
}

.individual-movie-info {
    p {
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

    h3, p {
        color: white;
    }

    p {
        text-align: left;
        padding: 10px;
        margin-bottom: 10px;
    }

    .fa-star {
        color: rgb(251, 255, 0);
        margin: 0 11px 0 0;
    }

    .solo-release {
        color: rgb(141, 141, 141);
        font-weight: 400;
        font-size: 14px;
        font-style: italic;
        text-align: center;
        margin-top: 0;
        padding: 0;
    }

}


@media (min-width: 1068px) {

    .poster-backdrop {
        display: block;
        filter: grayscale(60%) brightness(30%) drop-shadow(0 0 0.75rem rgb(3, 3, 3));
        position: absolute;
        z-index: -1;
        margin-top: -10px;
        max-width: inherit;
        margin-left: -30px;
    }

    .individual-movie-container {
        margin-top: 150px;
    }

    .individual-movie-info {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 0.5fr;

        .solo-release {
            padding-top: 30px;
            text-align: left;
        }

        .fa-star {
            margin-left: 8px;
            padding-top: 30px;
            padding-bottom: 15px;
            span{
                margin-left: 15px;
                font-family: 'Nunito Sans', sans-serif;
            }
        }
    }

    .solo-group,
    .solo-titles{
        text-align: left;
        grid-column: 2 / 3;
        grid-row:  1;
    }

    .solo-titles {
        padding-bottom: 20px;
    }

 

    .solo-group {
        display: block;
        margin-top: 120px;
    }
} 